.Women {
    width: 100%;
    margin: auto;
    padding: 0 0 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.Header {
    width: 10%;
    height: 230px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header h1 {
    font-weight: 400;
}

/*? Cards container */