.NavItem {
    display: flex;
    flex-direction: column;
    width: 74px;
    height: 100%;
    color: #383838;
    text-decoration: none;
    font-size: 14px;
    margin: 0 0 8px 0;
}

.NavItem:hover::after {
    display: block;
    width: 0%;
    height: 1px;
    background-color: #5ECE7B;
    position: relative;
    top: 24px;
    content: "";
    animation: hoverButton .4s ease-in-out forwards;
}

@keyframes hoverButton {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.ActiveRoute::after {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #5ECE7B;
    position: relative;
    top: 24px;
    content: "";
}

