@font-face {
  font-family: Raleway;
  src: url(./Assets/Fonts/Raleway-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: Raleway;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
