.Layout {
    width:80%;
    height: 100%;
    margin: auto;
}

@media screen  and (max-width:1240px) {
    .Layout {
        width: 1240px;;
        margin: auto;
    }
}
@media screen  and (max-width:800px) {
    .Layout {
        width: 750px;
        margin: auto;
    }
}


@media screen  and (max-width: 500px) {
    .Layout {
        width: 480px;
    }
}



