.Layout {
    width: 80%;
    height: 100%;
    margin: auto;
}

@media screen  and (max-width:1240px) {
    .Layout {
        width: 100%;
        margin: auto;
    }
}
@media screen  and (max-width:800px) {
    .Layout {
        width: 80%;
        margin: auto;
    }
}


@media screen  and (max-width: 500px) {
    .Layout {
        width: 90%;
    }
}



